.main-div{
	width: 100%;
	/*background-color: $mainBlue;*/
	display: flex;
	flex-direction: row;
	&__secOne{
		width: 50%;
		height: 500px;
	}
	&__secTwo{
		background-color: $mainBlue;
		width: 50%;
		height: 500px;
		border-top-left-radius: 15%;
		/*border-bottom-left-radius: 100%;*/
		/*border-radius:100px;*/
		transform: rotate(-37deg);
		position: absolute;
		right: -463px;
		top:-120px;
	}
	&__image{
		width: 300px;
		height: 300px;
		border-radius: 100%;
		position: absolute;
		left: -178px;
		top: 88px;
		transform: rotate(36deg);
	}
	&__design1{
		width: 200px;
		height: 200px;
		position: absolute;
		left: 61px;
		
	}
	&__design1 span{
		width: 8px;
		height: 8px;
		background: $mainWhite;
		border-radius: 100%;
		display: block;
		position: absolute;
	}
	&__design1__dot1{
		top:0px;
		left: 0px;
	}
	&__design1__dot2{
		top:0px;
		left: 30px;
	}
	&__design1__dot3{
		top:0px;
		left: 60px;
	}
	&__design1__dot4{
		top:0px;
		left: 90px;
	}
	&__design1__dot5{
		top:0px;
		left: 120px;
	}
	
}